In [1]:
import numpy as np
import pandas as pd

in final dataset  0 is real , 1 is fake

In [8]:
pan=pd.read_csv('pan.csv')

In [9]:
# pan.rename(columns={"label":"Label"},inplace=True)

In [10]:
pan

                                                   Text  Label
0     A video of a couple together in hospital who a...      1
1     COVID-19 Pandemic Spells Trouble for Children'...      0
2         In Sickness and in Health: COVID-Era Weddings      0
3     COVID-19 Guidance for Shared or Congregate Hou...      0
4     A leopard was seen in Mumbai due to the lockdo...      1
...                                                 ...    ...
5138  COVID Outbreak Among U of Wisconsin Football Team      0
5139  WHO President Tedros Adhanom Ghebreyesus dance...      1
5140  COVID-19 May Spike Blood Sugar, Raising Death ...      0
5141  Many Need Follow-Up Colonoscopy and Don't Know it      0
5142  Grand Ayatollah Ali Sistani, a top Shiite lead...      1

[5143 rows x 2 columns]

In [37]:

pan['Label'].value_counts()

0    3333
1    1810
Name: Label, dtype: int64

In [21]:
covidfnir=pd.read_csv('covidfnir.csv')

In [22]:
covidfnir

                                                   Text  Label
0      Outbreak of COVID-19 is a worldwide fake. The...      1
1     With 125 positive #COVID19 cases in the countr...      0
2      A Whatsapp message which claims that the Ital...      1
3     Israel Folau payout at risk as Rugby Australia...      0
4      Italians are throwing their money on the stre...      1
...                                                 ...    ...
7583   "During the 2009 swine flu outbreak, Biden ma...      1
7584   Empty hospital corridors and waiting rooms in...      1
7585   Women of Shaheen Bagh, in Delhi, India caught...      1
7586  In the four cases tested positive on Saturday,...      0
7587  #Coronavirus: #Delhi among the worst #COVID hi...      0

[7588 rows x 2 columns]

In [40]:
covidfnir['Label'].value_counts()

1    3795
0    3793
Name: Label, dtype: int64

In [47]:
covidfnir[covidfnir['Label']==0]

                                                   Text  Label
1     With 125 positive #COVID19 cases in the countr...      0
3     Israel Folau payout at risk as Rugby Australia...      0
5     The country on May 4 registered a single day h...      0
7     The #PMCARES Fund, will allocate ¹3,100 crore...      0
8     Just in | Curfew in two localities of Ahmedaba...      0
...                                                 ...    ...
7576  India set to bring back thousands of its natio...      0
7577  .@sumiti_s and Smruti Thakkar, #COVID survivor...      0
7582  Medical experts denounce Trump's latest 'dange...      0
7586  In the four cases tested positive on Saturday,...      0
7587  #Coronavirus: #Delhi among the worst #COVID hi...      0

[3793 rows x 2 columns]

In [23]:
covidbreng=pd.read_csv('covidbreng.csv')

In [24]:
covidbreng

                                                   Text  Label
0     The Minister of Science, Technology, Innovatio...      0
1     Research with more than 6,000 doctors in 30 co...      1
2     It is with great joy that I communicate that a...      0
3     Income Brazil will unify various social progra...      0
4     NATO Secretary-General Jens Stoltenberg also f...      0
...                                                 ...    ...
2395           The corona fans must be pulling the hair      0
2396  “The US and the coronavirus:\n\nI just watched...      0
2397  False statistics according to testimonials col...      1
2398  ATTENTION => 🇧🇷💓💓💓 *very important! "How can t...      0
2399  [2:36 PM, 11/06/2020] Wellington: `` `*warns B...      1

[2400 rows x 2 columns]

In [41]:
covidbreng['Label'].value_counts()

0    1495
1     905
Name: Label, dtype: int64

In [46]:
covidbreng[covidbreng['Label']==0]

                                                   Text  Label
0     The Minister of Science, Technology, Innovatio...      0
2     It is with great joy that I communicate that a...      0
3     Income Brazil will unify various social progra...      0
4     NATO Secretary-General Jens Stoltenberg also f...      0
5     "What we want most is to go back to normal, an...      0
...                                                 ...    ...
2393  The New World Order tells China by 2050 it int...      0
2394  Deaths accumulated by coronaviruses in Brazil,...      0
2395           The corona fans must be pulling the hair      0
2396  “The US and the coronavirus:\n\nI just watched...      0
2398  ATTENTION => 🇧🇷💓💓💓 *very important! "How can t...      0

[1495 rows x 2 columns]

In [25]:
entire=pd.read_csv('entire.csv')

In [26]:
entire

                                                    Text  Label
0      The CDC currently reports 99031 deaths. In gen...      0
1      States reported 1121 deaths a small rise from ...      0
2      Politically Correct Woman (Almost) Uses Pandem...      1
3      #IndiaFightsCorona: We have 1524 #COVID testin...      0
4      Populous states can generate large case counts...      0
...                                                  ...    ...
10695  #CoronaVirusUpdates: State-wise details of Tot...      0
10696  Tonight 12(midnight) onwards Disaster Manageme...      1
10697  296 new cases of #COVID19Nigeria; Plateau-85 E...      0
10698  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...      0
10699  More than half of pregnant women recently admi...      0

[10700 rows x 2 columns]

In [27]:
# entire.drop(['Unnamed: 0','id'],axis=1,inplace=True)

In [28]:
# entire.rename(columns={'tweet':'Text','label':'Label'},inplace=True)

In [29]:
entire

                                                    Text  Label
0      The CDC currently reports 99031 deaths. In gen...      0
1      States reported 1121 deaths a small rise from ...      0
2      Politically Correct Woman (Almost) Uses Pandem...      1
3      #IndiaFightsCorona: We have 1524 #COVID testin...      0
4      Populous states can generate large case counts...      0
...                                                  ...    ...
10695  #CoronaVirusUpdates: State-wise details of Tot...      0
10696  Tonight 12(midnight) onwards Disaster Manageme...      1
10697  296 new cases of #COVID19Nigeria; Plateau-85 E...      0
10698  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...      0
10699  More than half of pregnant women recently admi...      0

[10700 rows x 2 columns]

In [36]:
entire['Label'].value_counts()

0    5600
1    5100
Name: Label, dtype: int64

In [45]:
entire[entire['Label']==0]

                                                    Text  Label
0      The CDC currently reports 99031 deaths. In gen...      0
1      States reported 1121 deaths a small rise from ...      0
3      #IndiaFightsCorona: We have 1524 #COVID testin...      0
4      Populous states can generate large case counts...      0
5      Covid Act Now found "on average each person in...      0
...                                                  ...    ...
10693  RT @WHOAFRO: The #COVID19 virus hasn't been fo...      0
10695  #CoronaVirusUpdates: State-wise details of Tot...      0
10697  296 new cases of #COVID19Nigeria; Plateau-85 E...      0
10698  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...      0
10699  More than half of pregnant women recently admi...      0

[5600 rows x 2 columns]

In [48]:
entire[(entire['Label']==0)&(entire['Text'].str.contains('@'))]

                                                    Text  Label
3      #IndiaFightsCorona: We have 1524 #COVID testin...      0
17     #IndiaFightsCorona India continues to scale ne...      0
23     We are delighted that 78 high- and upper-middl...      0
40     We launched the #COVID19 Solidarity Response F...      0
53     RT @MoHFW_INDIA: #IndiaFightsCorona With high ...      0
...                                                  ...    ...
10640  RT @MoHFW_INDIA: #IndiaFightsCorona The gap be...      0
10650  RT @LeoNissolaMD: #COVID19 cases are growing e...      0
10684  Asymptomatic coronavirus spread is rare @WHO s...      0
10693  RT @WHOAFRO: The #COVID19 virus hasn't been fo...      0
10698  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...      0

[1583 rows x 2 columns]

In [30]:
# entire['Label']=entire['Label'].replace(['real','fake'],[0,1])

In [31]:
# entire.to_csv('entire.csv',index=False)

## final

In [32]:
final=pd.concat([pan,entire,covidbreng,covidfnir],ignore_index=True)

In [33]:
final=final.sample(frac=1,ignore_index=True)

In [35]:
final['Label'].value_counts()

0    14221
1    11610
Name: Label, dtype: int64

In [49]:
final.to_csv('final.csv',index=False)

In [1]:
import pandas as pd

In [2]:
final=pd.read_csv('final.csv')

In [3]:
final

                                                    Text  Label
0      Coronavirus India: Amid COVID-19 Worry, Govern...      0
1      The claim stated that India's top business con...      1
2      Facebook posts shared hundreds of times claim ...      1
3      29 new COVID-19 cases reported in #China, a de...      0
4      UK hospital COVID-19 death toll rises by 761 t...      0
...                                                  ...    ...
25824     COVID Biggest Cause of Police Deaths This Year      0
25825  10 Road Trip Essentials https://t.co/sB9hzYG2M...      1
25826  Union Health Minister Dr. Harsh Vardhan on Sun...      0
25827  Acc to @MoHFW_INDIA guidelines prior to exerci...      0
25828  Too little data for recommendations in Covid-1...      0

[25829 rows x 2 columns]

In [24]:
final.iloc[2]['Text']

'Facebook posts shared hundreds of times claim US President Donald Trump approved a $2.5 million fund for Madagascar to mass-produce a herbal remedy touted by the island’s president as a cure for COVID-19.'

In [47]:
final[final['Text'].str.contains("ATTENTION")]

                                                    Text  Label
557     \n\n══════🎮═════\n*🕹stωcҝ gΔmσs🎮*\n╚════ ≪ • ...      0
5490   * ATTENTION BRAZIL !!* 🇧🇷🇺🇸\n\n*Wake up and sk...      1
7391   ATTENTION !!! 📣📢\n_Aviso Exclusive !!! _\n\n``...      1
8573   *ATTENTION*\nTo the relatives of recent death ...      1
11578  *ATTENTION*\n\n⚠️ *First Suspected Case of Cor...      0
11912  ATTENTION => 🇧🇷💓💓💓 *very important! "How can t...      0
11976  ATTENTION! URGENT! Very urgent: Do not turn on...      1
12069  ATTENTION\nTo the relatives of recent death vi...      1
14770  ATTENTION.\nThe list of the most resistant or ...      1
15264  ATTENTION\nGuidance from a prosecutor: "I woul...      0
15399  ATTENTION!!!\nNew COVID-19 blow !!\nNothing is...      1
16793   \n\n. ══════🎮═════\n      *🕹stωcҝ gΔmσs🎮*\n╚═...      0
17271  *ATTENTION*\nJoão Fontes was Federal Deputy of...      1
17819  👆👆👆⚠ ATTENTION itings*\n*France that the press...      1
20584  * ATTENTION!* 🇧🇷\n\nThe senators below are the...      0
22773  ATTENTION BRAZILIAN PEOPLE !!!! Bolsonaro is r...      1
23289  COVID-19 prevention protocols for the disabled...      0
24299  \n\nJOAO PERSON -PB MEDICAL ATTENTION\n\nI was...      0
24803  *ATTENTION*: This Globo does not show. World B...      0

In [50]:
final.iloc[7391]['Text']

'ATTENTION !!! 📣📢\n_Aviso Exclusive !!! _\n\n`` `Political gentlemen:\nWe report that due to force majeure, from tomorrow, we Brazilian citizens cannot continue paying their salaries.\nThis is due to the fact that their services were not framed among those considered essential at this time (none of you were seen working in hospitals, nor driving trucks, buses or ambulances, nor replacing products in supermarkets).\nWe recommend that you are quarantine until the corona virus crisis goes through the poor political conduct of this moment of crisis.\nOnce the quarantine period is over, we will analyze your professional work, one by one, to see if it is necessary and if we are in a position to renew your mandates.\nSince tax collection is decreasing and this is the source of payment of their salaries, jacket aid, housing aid, education aid, health plan for you and their dependents, daily, credit card, beauty products, official cars, cars , etc., nothing fairer for you to make your portion of contribution during this crisis.\n\nYours sincerely,\nThe Brazilian citizens.\n\n*Whoever agrees, transfer to your groups !!!*\n📱 📱📱📲📲📲'

In [27]:
import numpy as np

In [43]:
final[final['Label']==1]

                                                    Text  Label
1      The claim stated that India's top business con...      1
2      Facebook posts shared hundreds of times claim ...      1
7      The health service in Ireland is asking people...      1
9      *Let's stay at home and safeguard our health! ...      1
10     Brahmins (a Higher Indian Caste) chopped off a...      1
...                                                  ...    ...
25813  The science is clear." Meharry’s Dr. James Hil...      1
25819   A man was beaten by the cops in Dehradun, Ind...      1
25820  Every worker on the front lines of the fight a...      1
25822   Dr. Vandana Tiwari, part of the team investig...      1
25825  10 Road Trip Essentials https://t.co/sB9hzYG2M...      1

[11610 rows x 2 columns]

In [3]:
final.iloc[25827]['Text']

'Acc to @MoHFW_INDIA guidelines prior to exercising in the gymnasiums using equipment for cardio strength training etc it is advised to check #OxygenSaturation using pulse #oximeter &amp; if the value is found to be &lt;95% the person should not be allowed to exercise. https://t.co/UBq3XrirZZ'

In [10]:
t=2
f=3

In [11]:
max(t,f)

3

In [18]:
final[final['Label']==0]

                                                    Text  Label
0      Coronavirus India: Amid COVID-19 Worry, Govern...      0
3      29 new COVID-19 cases reported in #China, a de...      0
4      UK hospital COVID-19 death toll rises by 761 t...      0
5      WHO Director-General pays tribute to Spain’s s...      0
6      #IndiaFightsCorona: #COVID19 does not even spa...      0
...                                                  ...    ...
25823  #IndiaFightsCirona The gap between Recoveries ...      0
25824     COVID Biggest Cause of Police Deaths This Year      0
25826  Union Health Minister Dr. Harsh Vardhan on Sun...      0
25827  Acc to @MoHFW_INDIA guidelines prior to exerci...      0
25828  Too little data for recommendations in Covid-1...      0

[14219 rows x 2 columns]

In [8]:
final.iloc[25827]['Text']

'Acc to @MoHFW_INDIA guidelines prior to exercising in the gymnasiums using equipment for cardio strength training etc it is advised to check #OxygenSaturation using pulse #oximeter &amp; if the value is found to be &lt;95% the person should not be allowed to exercise. https://t.co/UBq3XrirZZ'

In [3]:
final[final['Label']==1]

                                                    Text  Label
1      The claim stated that India's top business con...      1
2      Facebook posts shared hundreds of times claim ...      1
7      The health service in Ireland is asking people...      1
9      *Let's stay at home and safeguard our health! ...      1
10     Brahmins (a Higher Indian Caste) chopped off a...      1
...                                                  ...    ...
25813  The science is clear." Meharry’s Dr. James Hil...      1
25819   A man was beaten by the cops in Dehradun, Ind...      1
25820  Every worker on the front lines of the fight a...      1
25822   Dr. Vandana Tiwari, part of the team investig...      1
25825  10 Road Trip Essentials https://t.co/sB9hzYG2M...      1

[11610 rows x 2 columns]

In [7]:
final.iloc[9]['Text']

"*Let's stay at home and safeguard our health! Resources as we have and we already know where to take it off !!!!*\n👇🏽👇🏽👇🏽👇🏽👇🏽👇🏽👇🏽👇🏽👇🏽👇🏽👇🏽👇🏽🏽–\nSo, come on:\n\n*Congressman*:\n\n- Salary: R $ 26,700.00\n\n- Ombudsman: R $ 94,300.00\n\n- PALETO AID: R $ 53,400.00\n\n- Fuel: R $ 5,000.00\n\n- Housing aid: R $ 22,000.00\n\n- Airlines: R $ 59,000\n\n- Health aid: R $ unlimited\n\n- Education aid: R $ 12,100.00\n\n- Food aid: R $ 16,400.00\n\n- Cultural aid: R $ 13,400.00\n\n- Dental aid: R $ unlimited\n\n- Pharmacy aid: R $ unlimited\n\nTherefore, Brazilian gentlemen and ladies, this is the Brazil cost that you provide us with\n\nR $ 302,300.00/month🚛💰\n\nThere are 513 deputies\n\nR $ 155,079,900.00/month\n\n12 months\nR $ 1,860,958,800.00/year\n\nAlmost 2 billion with the deputies alone.\n\nThis only for deputy still has senator, president and his ministers etc.\n\nWe already know where we will take the money to soften the coronavirus crisis.\n\n\n\n\n\n\nPublish !!! 😡\n\nIf you pass on to only 2 friends in the early hours, in 28 hours the entire Brazilian population will be aware of this nonsense."